.header {
	background-color: #1c2b35;
}

.header .menu {
	text-align: right;
}

.header nav {
	padding: 0px 30px;
}

.header nav ul li {
	display: inline-block;
}

.header nav ul li a {
	color: #ffffff;
	text-decoration: none;
	margin-left: 36px;
	font-size: 18px;
	border-bottom: 2px solid transparent;
	transition: all 0.5s;
}

.header nav ul li a:hover {
	color: #ff9900;
	border-bottom: 2px solid #ff9900;
}
