.grid {
	display: grid;
}

.flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.mr-auto {
	margin: 0 auto;
}

.py-3 {
	padding: 3rem 0;
}

.align-center {
	align-items: center;
}

.gap-3 {
	grid-gap: 30px;
}

.grid-cols__2 {
	grid-template-columns: repeat(2, 1fr);
}

.grid-cols__3 {
	grid-template-columns: repeat(3, 1fr);
}

.grid-cols__4-1 {
	grid-template-columns: 4fr 1fr;
}
